extends templates/base
block content   
    h3= principal.name + ", you can create chat:"
    form(action="/create-chat" method="POST")
        input(type="text" name="name" required=true)
        input(type="submit")
    ul
        each chat in chats
            li 
                a(href="/chats/" + chat._id)=chat.name
